* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: #f1ebeb;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.countdown {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.countdown span {
    font-size: 4rem;
    font-weight: bold;
    color: #f44336;
}

.countdown div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    margin: 0 10px;
}

.countdown-form {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.countdown-form label {
    font-size: 1.2rem;
    margin-right: 10px;
}

.countdown-form input {
    padding: 10px;
    border: 2px solid #f44336;
    background-color: #bab2b2;
    color: #5b5656a7;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-right: 25px;
}

.start-button,
.stop-button,
.reset-button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #ffffff;
    color: #e05151;
}

.start-button:hover,
.stop-button:hover,
.reset-button:hover {
    background-color: #f44336;
    color: #fff;
}